<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，后面会讲 -->
<mapper namespace="com.x3408.stumanage.mapper.DeptMapper">
    <resultMap id="deptMap" type="com.x3408.stumanage.entity.Dept">
        <id property="id" column="id"/>
        <result column="studentID" property="studentID"/>
        <result column="profession" property="profession"/>
        <result column="address" property="address"/>
        <result column="offer" property="offer"/>
        <result column="ticket" property="ticket"/>
        <result column="identity" property="identity"/>
        <association property="freshman" javaType="com.x3408.stumanage.entity.Freshman" fetchType="eager">
            <result column="freshmanId" property="id"/>
            <result column="name" property="name"/>
            <result column="phone" property="phone"/>
        </association>
    </resultMap>
    <select id="getDept" parameterType="String" resultMap="deptMap">
        select a.id,a.studentID,a.profession,a.address,a.offer,a.ticket,a.identity,a.freshmanId,b.name,b.phone
        from dept_info a inner join freshman_info b on a.freshmanId = b.id
        where b.college = #{college}
        <if test="identity != null">
            and a.identity = #{identity}
        </if>
        <if test="ticket != null">
            and a.ticket = #{ticket}
        </if>
        <if test="offer != null">
            and a.offer = #{offer}
        </if>
    </select>

</mapper>
